customtkinter==5.2.2
pillow==10.2.0
selenium==4.18.1
webdriver_manager==4.0.1
requests==2.31.0
CTkMessagebox==2.5
pyppeteer==1.0.2
pyautogui==0.9.54
keyboard==0.13.5
eel==0.16.0
bottle==0.12.25
bottle-websocket==0.2.9
gevent==23.9.1
gevent-websocket==0.10.1
nest_asyncio==1.5.8 
pygame==2.6.1